/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
    font-family: 'Titillium Web', sans-serif;
    
}

.container{
    max-width: 1140px;
    
    margin: 0 auto;
    padding: 0 20px;
}

.main{
    width: 100%;
    min-height: 596px;
    background-color: #87509c;
}

.header{
    min-height: 37px;
    padding: 57px 0 0 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 37px;
}

.navbar{
    display: inline-block;
    margin: 10px 0 0 0;
}

.navlink{
    padding: 10px 17px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 16px;
}

.navlink:hover{
    background-color: #643a79;
}

.title{
    max-width: 906px;
    margin: 145px auto 80px;
    font-size: 42px;
    color: #f7f3ea;
    font-weight: 700;
    line-height: 48.82px;
    text-align: center;
}

.button{
    padding: 28px 80px;
    background-color: #eb7d4b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 145px;
}
.main__button:hover{
    box-shadow:0 0 3px 3px #c86a40;
    transition: .1s linear;
}
.btn{
    text-align: center;
    padding: 0 0 145px 0;
}

/* Block Services */
.services{
    width: 100%;
    min-height: 747px;
    background-color: #17c2a4;
}
.services__name {
    max-width: 590px;
}.name{
    text-align: center;
    margin: 0 auto;
    padding: 119px 0 83px 0;
}
.services__section {

}
.section{
    color: #ffffff;
    font-size: 40px;
    line-height: 29.91px;
    text-transform: uppercase;
    font-weight: 700;
}
.section::after{
    content: "";
    display: block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    margin: 21px auto 23px;
    opacity: 0.15;
}
.services__description {
    
}
.description{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
/* Cards */
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards__item{
    text-align: center;
    margin: 0 0 55px 0;
    
}
.cards__title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin: 65px 0 27px 0;
}
.cards__subtitle{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 192px;
}
/* Block Team */
.team{
    width: 100%;
    min-height: 914px;
    background-color: #e7f1f8;
}.team__section{
    color: #3c4761;
}
.team__description{
    color: #3c4761;
}
.workers{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.workers__list{
    text-align: center;

}
.workers__name{
    color: #27283d;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin: 41px 0 15px 0;
}
.workers__post{
    color: #30bae7;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 26px ;
}
.workers__info{
    width: 196px;
    color: #3c4761;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.icon__link{
    margin: 0 auto;
    width: 143px;
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    margin: 31px 0 0  20px;
}
.face{
    
}
/* Block Skills */
.skills{
    width: 100%;
    min-height: 655px;
    background-color: #ffffff;
}
.skills__section{
    color: #3c4761;
}
.skills__description{
    color: #3c4761;
    max-width: 567px;
    margin: 0 auto;
}
/* stats */
 
.stats__skill{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats__img{
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 160px;
	border-radius: 50%;
    margin: 0 auto 32px;
}
.percent{
    color: #3c4761;
    font-size: 50px;
    line-height: 20.84px;
    text-transform: uppercase;
    font-weight: 300;
}
span{
    font-size: 32px;
}
.stats__img.p90{
    background: url(./images/icon/skills/Slice_7.png)center
    no-repeat;
}
.stats__img.p75{
    background: url(./images/icon/skills/pink_8.png)center no-repeat;
}
.stats__img.p70{
    background: url(./images/icon/skills/green_8.png)center no-repeat;
}
.stats__img.p80{
    background: url(./images/icon/skills/orange_8.png)center no-repeat;
}
.stats__subtitle{
    text-align: center;
    color: #3c4761;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}
/* Block Portfolio */
.portfolio{
    width: 100%;
    min-height: 1423px;
    background-color: #ffdd99;
}
.portfolio__section{
    color: #393939;
}
.portfolio__name{
    padding: 120px 0 62px 0;
}
.portfolio__description{
    color: #393939;
    max-width: 515px;
    margin: 0 auto;
}
/* Navigation Portfolio */
.portfolio__nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 54px auto 0;
    font-size: 18px;
    line-height: 19.5px;
    text-transform: uppercase;
}
.portfolio__link{
    color: #393939;
    padding: 12px 27px;
    background-color: #ebcb8d;
    border-radius: 10px;
}
.portfolio__link:hover{
    background-color: #fff;
    transition: .2s linear;
}
/* Portfolio Items */
.portfolio__item{
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: 0 0 60px 0;
    justify-content: space-between;
}.card{
    width: 100%;
    margin: 0 0 29px 0;
}
.card__subtitle{
    text-align: center;
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.5px;
    text-transform: uppercase;
    margin: 0 0 65px 0;
}
/* Portfolio Button */
.portfolio__button{
    background-color: #17c2a4;
    font-size: 18px;
    display: inline-block;
    
}
.portfolio__button:hover{
    box-shadow: 0 0 3px 3px #14a58b;
    transition: .1s linear;
}

/* Block About us */
.about{
    width: 100%;
    min-height: 895px;
    background-color: #d74680;
}
/* Reviews */
.users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.users__item{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 154px 0;
}
.users__photo{
    text-align: left;
}
.user__review{
    max-width: 326px;
    align-self: center;
    margin: 0 0 0 48px;
}
.user__say{
    color: #ffffff;
    line-height: 31.2px;
    font-size: 21px;
    font-style: italic;
}
.user__name{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin: 28px 0 0 0;
    line-height: 26px;
    text-transform: uppercase;
}
.user__post{
    color: #ffdd99;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
/* Block Touch */
.touch{
    width: 100%;
    min-height: 819px;
    background-color: #3c5499;
}
.touch__name{
    
}
.touch__section{
    
}
/* Form */
.form{
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   max-width: 860px;
   flex-wrap: wrap;
}
.form__name{
    display: flex;
    flex-wrap:wrap ;
    max-width: 414px;
    width: 100%;
    height: 56px;
    padding: 22px 297px 20px 25px;
    border-radius: 5px;
    background-color: #273a71;
}
.form__name::placeholder{
    color: #fff;
}
.form__area{
    width: 100%;
    max-width: 860px;
    height: 200px;
    padding-top: 24px;
    padding-left: 25px;
    margin: 27px 0 59px 0;
    border-radius: 5px;
    background-color: #273a71;
}
.form__area::placeholder {
    color:#fff
}
/* Button */
.touch__button{
    font-family: 'Titillium Web', sans-serif;
    background-color: #30bae7;
}
.touch__button:hover{
    box-shadow: 0 0 3px 3px #299ec4;
    
}


/* Footer */
.footer{
    width: 100%;
    min-height: 112px;
    background-color: #344b8e;
}
.footer__nav{
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.91px;
    display: flex;
    justify-content: space-between;
    max-width: 938px;
    flex-wrap: wrap;
    padding: 48px 0 0 0;
    margin: 0 auto;
}
.footer__link{
    color: #ffffff;
}
.footer__link:hover{
    color:#31a8d9;
    transition: .2s linear;
}
