/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
    font-family: 'Titillium Web', sans-serif;
    
}

.container{
    max-width: 1140px;
    
    margin: 0 auto;
    padding: 0 20px;
}

.main{
    width: 100%;
    min-height: 596px;
    background-color: #87509c;
}

.header{
    min-height: 37px;
    padding: 57px 0 0 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 37px;
}

.navbar{
    display: inline-block;
    margin: 10px 0 0 0;
}

.navlink{
    padding: 10px 17px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 16px;
}

.navlink:hover{
    background-color: #643a79;
}

.title{
    max-width: 906px;
    margin: 145px auto 80px;
    font-size: 42px;
    color: #f7f3ea;
    font-weight: 700;
    line-height: 48.82px;
    text-align: center;
}

.button{
    padding: 28px 80px;
    background-color: #eb7d4b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}
.main__button:hover{
    box-shadow:0 0 3px 3px #c86a40;
    transition: .1s linear;
}
.btn{
    text-align: center;
}

/* Block Services */
.services{
    width: 100%;
    min-height: 747px;
    background-color: #17c2a4;
}
.services__name {
    max-width: 590px;
}.name{
    text-align: center;
    margin: 0 auto;
    padding: 119px 0 83px 0;
}
.services__section {

}
.section{
    color: #ffffff;
    font-size: 40px;
    line-height: 29.91px;
    text-transform: uppercase;
    font-weight: 700;
}
.section::after{
    content: "";
    display: block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    margin: 21px auto 23px;
    opacity: 0.15;
}
.services__description {
    
}
.description{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
/* Cards */
.cards{
    display:flex;
    justify-content: space-between;
    flex-basis: 25%;
    flex-wrap: wrap;
}
.cards__item{
    text-align: center;
}
.cards__title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin: 65px 0 27px 0;
}
.cards__subtitle{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 192px;
}
/* Block Team */
.team{
    width: 100%;
    min-height: 914px;
    background-color: #e7f1f8;
}.team__section{
    color: #3c4761;
}
.team__description{
    color: #3c4761;
}
.workers{
    display:flex;
    justify-content: space-between;
    flex-basis: 25%;
    flex-wrap: wrap;
}
.workers__list{
    text-align: center;
}
.workers__name{
    color: #27283d;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin: 41px 0 15px 0;
}
.workers__post{
    color: #30bae7;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 26px ;
}
.workers__info{
    width: 196px;
    color: #3c4761;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.icon__link{
    margin: 0 auto;
    width: 143px;
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    margin: 31px 0 0  20px;
}
.face{
    
}
/* Block Skills */
.skills{
    width: 100%;
    min-height: 655px;
    background-color: #ffffff;
}
.skills__section{
    color: #3c4761;
}
.skills__description{
    color: #3c4761;
    width: 567px;
    margin: 0 auto;
}
.stats{
    display:flex;
    justify-content: space-between;
    flex-basis: 25%;
    flex-wrap: wrap;
}

/* Block Portfolio */
.portfolio{
    width: 100%;
    min-height: 1423px;
    background-color: #ffdd99;
}
.portfolio__section{
    color: #393939;
}
.portfolio__name{
    padding: 120px 0 62px 0;
}
.portfolio__description{
    color: #393939;
    width: 515px;
    margin: 0 auto;
}
.portfolio__nav{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 54px auto 0;
    font-size: 18px;
    line-height: 19.5px;
    text-transform: uppercase;
}
.portfolio__link{
    color: #393939;
    padding: 12px 27px;
    background-color: #ebcb8d;
    border-radius: 10px;
}
.portfolio__link:hover{
    background-color: #fff;
    transition: .2s linear;
}
.comp__icon{
    display: flex;
    width: 1100px;
    flex-basis: 60%;
    flex-wrap: wrap;
    margin: 0 0 60px 0;
    justify-content: space-between;
}.pic{
    margin-bottom: 60px;
}
.portfolio__button{
    background-color: #17c2a4;
    font-size: 18px;
}
.portfolio__button:hover{
    box-shadow: 0 0 3px 3px #14a58b;
    transition: .1s linear;
}

/* Block About us */
.about{
    width: 100%;
    min-height: 895px;
    background-color: #d74680;
}
.members{
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.members__info{
    flex-basis: 50%;
}
.members__say{
    width: 326px;
    text-align: right;
}

/* Block Touch */
.touch{
    width: 100%;
    min-height: 819px;
    background-color: #3c5499;
}


/* Footer */
.footer{
    width: 100%;
    min-height: 112px;
    background-color: #344b8e;
}
